{% extends 'base.html' %}
{% block content %}
<div class="container">
<br>
<br>
<h1 class="text-primary">All User List</h1>
<br>
<br>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">S. No.</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col">Profile Pic</th>
      </tr>
    </thead>
    <tbody>
    {% for u in ulist  %}
      <tr>
        <th scope="row">1</th>
        <td>{{u.first_name}}</td>
        <td>{{u.last_name}}</td>
        <td>{{u.username}}</td>
        <td>{{u.email}}</td>
        <td>{{u.user_type}}</td>
        <td><img src="../../media/{{u.user_profile}}" class="rounded float-right" height='40px' width='50px'></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock  %}